:root {
  --white: #fff;
  --black: #000;
  --gray: #a3a5b7;
  --grayLight: #e5e6ef;
  --blue: #00366a;
  --golden: #cd9e51;
  --questrial: "Questrial", sans-serif;
  --poppins: "Poppins", sans-serif;
  --fontDisplay: 78px;
  --fontTitle: 50px;
  --fontSubtitle: 24px;
  --fontTextTitle: 18px;
  --fontText: 16px;
  --fontLegend: 10px;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--grayLight);
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 40px;
}

.cta {
  display: table;
  border-radius: 10px;
  color: var(--white);
  background: var(--golden);
  text-decoration: none;
  font-family: var(--questrial);
  font-size: var(--fontText);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 20px;
}

.title {
  font-family: var(--questrial);
  font-size: var(--fontTitle);
  color: var(--gray);
  text-align: center;
}

.btn {
  display: table;
  margin: 0 auto;
  font-family: var(--poppins);
  font-size: var(--fontText);
  text-transform: uppercase;
  border: 1px solid var(--gray);
  padding: 20px;
  color: var(--gray);
  text-align: center;
  letter-spacing: 1px;
  border-radius: 10px;
}

.sobre,
.especialidades,
.posts,
.contato,
.especialidade,
.videos {
  margin-top: 60px;
}

.sobre .container p {
  line-height: 20px;
  letter-spacing: 1px;
  font-family: var(--questrial);
  font-size: var(--fontText);
}

.sobre .container p strong {
  color: var(--blue);
}

.sobre .container p + p {
  margin-top: 20px;
}

.sobre .container figure {
  margin-top: 20px;
}

.especialidade-text p,
.especialidade-text ul li {
  line-height: 20px;
  letter-spacing: 1px;
  font-family: var(--questrial);
  font-size: var(--fontText);
}

.especialidade-text ul {
  margin-top: 10px;
}

.especialidade-text ul li + li {
  margin-top: 5px;
}

.especialidade-text ul li {
  display: flex;
  align-items: center;
}

.especialidade-text ul li::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background: var(--black);
  margin-right: 10px;
  border-radius: 100%;
}

.videos .container ul {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;
}

.videos .container ul li {
  width: calc(33.33% - 40px);
  margin: 20px;
}

.videos .container ul li h3 {
  font-family: var(--poppins);
  font-size: var(--fontText);
  line-height: 20px;
  margin-bottom: 10px;
}

@media (max-width: 920px) {
  .list-especialidades li,
  .posts .container ul li {
    width: calc(50% - 20px) !important;
  }
}

@media (max-width: 600px) {
  .list-especialidades li,
  .posts .container ul li {
    width: calc(100% - 20px) !important;
  }
}

@media (max-width: 920px) {
  .videos .container ul li {
    width: calc(50% - 40px);
  }
}

@media (max-width: 600px) {
  .videos .container ul li {
    width: calc(100% - 40px);
  }
}
