.footer {
  margin-top: 100px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer .container div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .container div:last-child {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 250px;
}

.footer-redes {
  margin-top: 5px;
}

.footer-redes ul {
  display: flex;
}

.footer-redes ul li + li {
  margin-left: 10px;
}

.footer-redes ul li a img {
  width: 20px;
}

.footer .container p,
.footer .container div:last-child a {
  line-height: 20px;
  letter-spacing: 1px;
  font-family: var(--questrial);
  font-size: var(--fontText);
  color: var(--gray);
}

.copyright {
  padding: 30px 0px 10px 0px;
}

.copyright legend {
  line-height: 20px;
  letter-spacing: 1px;
  font-family: var(--poppins);
  font-size: var(--fontLegend);
  color: var(--gray);
}

.cookie-container {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 40px;
  left: 40px;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 40px;
  transform: translateY(-30px);
  opacity: 0;
  animation: slideUp 0.5s forwards;
  z-index: 99999;
}

.cookie {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.cookie p {
  font-family: var(--questrial);
  font-size: var(--fontTextTitle);
  color: var(--blue);
  margin-bottom: 10px;
}

.cookie label {
  font-family: var(--questrial);
  font-size: var(--fontText);
}

.cookie label + label {
  margin-top: 8px;
}

.cookie label input {
  margin: 0px;
  margin-right: 5px;
}

@keyframes slideUp {
  to {
    transform: initial;
    opacity: initial;
  }
}

@media (max-width: 1060px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
  }
  .footer .container div + div {
    margin-top: 20px;
  }
  .footer .container div p {
    text-align: center;
  }
}

@media (max-width: 310px) {
  .footer .container div p {
    width: 100%;
    word-break: break-all;
  }
}

@media (max-width: 660px) {
  .cookie-container {
    left: 0;
  }
}

@media (max-width: 370px) {
  .cookie-container {
    flex-direction: column;
  }
  .cookie {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
