.header {
  background: url(../assets/cover-header.png) center center no-repeat;
  background-size: cover;
  padding: 40px 0px 90px 0px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 40px;
}

.header-top a {
  width: 250px;
}

.header-menu ul {
  display: flex;
}

.header-menu ul li a {
  color: var(--white);
  font-size: var(--fontText);
  font-family: var(--questrial);
  text-decoration: none;
  text-transform: uppercase;
}

.header-menu ul li + li {
  margin-left: 40px;
}

.header-main h1 {
  font-size: var(--fontDisplay);
  color: var(--white);
  font-family: var(--questrial);
  max-width: 700px;
  margin-bottom: 20px;
}

.header-main p {
  color: var(--white);
  font-family: var(--questrial);
  font-size: var(--fontSubtitle);
  margin-bottom: 30px;
}

.header-menu {
  position: relative;
}

.midia-menu {
  display: none;
  background: var(--black);
  position: absolute;
  right: 20px;
  margin-top: 10px;
  border-left: 10px solid var(--black);
}

.midia-menu span {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: absolute;
  right: -5px;
  top: -5px;
  background: var(--black);
  border-radius: 100%;
  color: var(--white);
  font-family: var(--questrial);
  font-size: var(--fontLegend);
}

.midia-menu.active {
  display: block !important;
}

.midia-menu ul {
  display: flex;
  flex-direction: column;
}

.midia-menu ul li + li {
  margin-left: 0px;
}

.midia-menu ul li a {
  display: block;
  background: var(--blue);
  width: 100%;
  padding: 12px 10px;
  text-transform: none;
}

.midia-menu ul li + li {
  border-top: 1px solid var(--black);
}

.midia-menu ul li a:hover {
  background: var(--golden);
}
